Repository exercism/rust, pull requests merged in 2018-11, with the labels that each got.

#736 wordy 1.4.0
  exercises/wordy/Cargo.toml
  exercises/wordy/README.md
  exercises/wordy/example.rs
  exercises/wordy/tests/wordy.rs
Labels: sync/readme, sync/tests

#738 proverb: no-op declare compliance with 1.1.0
  exercises/proverb/Cargo.toml
Labels: sync/tests

#740 bracket-push 1.5.0
  exercises/bracket-push/Cargo.toml
  exercises/bracket-push/tests/bracket-push.rs
Labels: sync/tests

#728 clock: Add test for exactly -60 minutes.
  exercises/clock/Cargo.toml
  exercises/clock/tests/clock.rs
Labels: sync/tests

#750 forth 1.5.0
  exercises/forth/Cargo.toml
  exercises/forth/tests/forth.rs
Labels: sync/tests

#748 two-bucket: declare compliance with 1.4.0 by changing descriptions
  exercises/two-bucket/Cargo.toml
  exercises/two-bucket/tests/two-bucket.rs
Labels: sync/tests

#741 declare compliance with problem-specifications where doing so is a no-op
  exercises/binary-search/Cargo.toml
  exercises/collatz-conjecture/Cargo.toml
  exercises/grains/Cargo.toml
  exercises/largest-series-product/Cargo.toml
  exercises/nth-prime/Cargo.toml
  exercises/pascals-triangle/Cargo.toml
  exercises/queen-attack/Cargo.toml
  exercises/say/Cargo.toml
  exercises/scale-generator/Cargo.toml
  exercises/variable-length-quantity/Cargo.toml
Labels: sync/tests

#743 sum-of-multiples 1.5.0
  exercises/sum-of-multiples/Cargo.toml
  exercises/sum-of-multiples/example.rs
  exercises/sum-of-multiples/tests/sum-of-multiples.rs
Labels: sync/tests

#745 isbn-verifier 2.7.0
  exercises/isbn-verifier/Cargo.toml
  exercises/isbn-verifier/tests/isbn-verifier.rs
Labels: sync/tests

#749 alphametics 1.3.0
  exercises/alphametics/Cargo.toml
  exercises/alphametics/example.rs
  exercises/alphametics/tests/alphametics.rs
Labels: sync/tests

#747 luhn 1.3.0
  exercises/luhn/Cargo.toml
  exercises/luhn/tests/luhn.rs
Labels: sync/tests

#746 bowling 1.2.0
  exercises/bowling/Cargo.toml
  exercises/bowling/tests/bowling.rs
Labels: sync/tests

#752 grep: Updated the exercise to 1.2.0 version
  exercises/grep/Cargo.toml
  exercises/grep/tests/grep.rs
Labels: sync/tests

#754 Fix pythagorean-triplet readme, in accordance to the updated tests
  exercises/pythagorean-triplet/README.md
Labels: sync/readme

#718 gigasecond:add clarity to exercise goal
  exercises/gigasecond/README.md
Labels: sync/readme

#753 leap: Updated exercise to 1.4.0 version
  exercises/leap/Cargo.toml
  exercises/leap/example.rs
  exercises/leap/src/lib.rs
  exercises/leap/tests/leap.rs
Labels: sync/tests

#759 phone-number: Updated the exercise to the 1.6.1 version
  exercises/phone-number/Cargo.toml
  exercises/phone-number/example.rs
  exercises/phone-number/tests/phone-number.rs
Labels: sync/tests

#760 bob: Updated the exercise to the 1.4.0 version
  exercises/bob/Cargo.toml
  exercises/bob/tests/bob.rs
Labels: sync/tests

#761 reverse-string: Updated the exercise to the 1.1.0 version
  exercises/reverse-string/Cargo.toml
  exercises/reverse-string/example.rs
  exercises/reverse-string/tests/reverse-string.rs
Labels: sync/tests

#762 hamming: Updated the exercise to the 2.1.1 version
  exercises/hamming/Cargo.toml
  exercises/hamming/README.md
  exercises/hamming/src/lib.rs
  exercises/hamming/tests/hamming.rs
Labels: sync/readme, sync/tests

#763 nucleotide-count: Updated the exercise to the 1.3.0 version
  exercises/nucleotide-count/Cargo.toml
  exercises/nucleotide-count/tests/nucleotide-count.rs
Labels: sync/tests

#755 forth 1.7.0
  exercises/forth/Cargo.toml
  exercises/forth/example.rs
  exercises/forth/tests/forth.rs
Labels: sync/tests
